# localTest*
localtest
localTest
Localtest
LocalTest
*localtest*.go
*localTest*.go
*Localtest*.go
*LocalTest*.go

testlocal
testLocal
Testlocal
TestLocal
*testlocal*.go
*testLocal*.go
*Testlocal*.go
*TestLocal*.go

localonly
localOnly
Localonly
LocalOnly
*localonly*.go
*localOnly*.go
*Localonly*.go
*LocalOnly*.go

onlylocal
onlyLocal
Onlylocal
OnlyLocal
*onlylocal*.go
*onlyLocal*.go
*Onlylocal*.go
*OnlyLocal*.go

#CERT PFX
*.pfx
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.vscode
.idea
go.sum
*.log
